<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ TITLE }}</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ HOST }}/public/assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ HOST }}/public/assets/libs/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

</head>
<body class="bg-dark">

<div class="container">
    <!-- request message -->
    <div id="login-message" class="text-center"></div>

    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap core JavaScript-->
<script src="{{ HOST }}/public/assets/libs/jquery/jquery.min.js"></script>
<script src="{{ HOST }}/public/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
